.Banner {
    position: relative;
    height: 80vh;
}

.jumbotron {
    background: none;
    position: absolute;
    text-align: center;
    padding: 2rem 1rem;
    top: 20vh;
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    .jumbotron {
        top: 12vh;
    }
}

.banner-content h1 {
    font-size: 75px;
}
