.profile-image {
    height: 350px;
    width: 300px;
}

.about-text {
    line-height: 2rem;
}

.resume-btn {
    background-color: var(--dark);
    color: var(--light) !important;
    padding: 18px 40px;
    border: 2px solid var(--greenAlt);
    border-radius: 1.25rem;
    margin: 2rem 0 1rem 0;
}

.resume-btn:hover {
    background-color: var(--dark);
    color: var(--greenAlt) !important;
}

.experience-entry {
    margin: 0.5rem 0 0.5rem 0;
}

.experience-title,
.education-title {
    font-weight: 700;
}

.experience-company {
    font-weight: 600;
}

.experience-dates-location,
.education-degree-dates {
    font-size: 1.2rem;
    font-weight: 500;
}

.experience-description,
.education-description {
    margin: 0.2rem 0 0.2rem 0;
    font-size: 1rem;
    line-height: 2rem;
}
