.navbar {
    padding: 30px 0;
}

.navbar-nav a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0 10px;
    font-weight: 500;
    color: var(--light);
    font-size: 18px;
}

.navbar-nav a:hover {
    color: var(--greenAlt);
    text-decoration: underline;
}

.navbar-nav .active {
    color: var(--light);
}

.navbar-toggler {
    background: transparent !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    font-size: 24px;
    text-align: right;
    margin-right: 30px;
}

@media (max-width: 768px) {
    .navbar-nav li {
        padding-bottom: 7px;
    }
}
