.social-inline-item {
    display: inline-block;
    margin-top: 10px;
}

.social-inline-item a {
    height: 50px;
    width: 50px;
    background-color: var(--dark);
    color: var(--light);
    font-size: 20px;
    padding: 12px;
    border: 2px solid var(--greenAlt);
    border-radius: 1.25rem;
}

.social-inline-item a:hover {
    background-color: var(--dark);
    color: var(--greenAlt);
}

.social-inline-item:not(:last-child) {
    margin-right: 15px;
}
